.container {
  padding-inline: 20px;
}

@media (width >= 576px) {
  .container {
    padding-inline: 72px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.page {
  scroll-behavior: smooth;
  color: #292929;
  cursor: url("cursor.845ec0b9.svg"), auto;
  font-family: Space Grotesk, sans-serif;
  font-size: 16px;
  line-height: 140%;
}

.page__body {
  min-width: 320px;
  margin: 0;
  overflow-x: hidden;
}

.page__menu {
  pointer-events: none;
  opacity: 0;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

.page__menu:target {
  pointer-events: all;
  opacity: 1;
  transform: translateX(0);
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.header {
  background-image: url("mobile-bg.2b88289b.png");
  background-position: center;
  background-size: cover;
}

@media (width >= 576px) {
  .header {
    background-image: url("tablet-bg.fe6c5cfd.png");
  }
}

@media (width >= 1024px) {
  .header {
    background-image: url("desktop-bg.a577d132.png");
  }
}

.header__content {
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  display: flex;
}

.header__title {
  vertical-align: middle;
  margin: 0;
  font-size: 36px;
  line-height: 100%;
}

.header__bottom {
  padding-bottom: 40px;
}

@media (width >= 576px) {
  .header__bottom {
    padding-bottom: 64px;
  }
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
  display: flex;
}

@media (width >= 576px) {
  .top-bar {
    padding-block: 64px;
  }
}

.top-bar__icons {
  gap: 24px;
  display: flex;
}

.top-bar__logo-link {
  cursor: url("cursor.845ec0b9.svg"), auto;
  display: flex;
}

.top-bar__logo {
  height: 16px;
  transition: transform .3s;
}

.top-bar__logo:hover {
  transform: scale(1.2);
}

@media (width >= 576px) {
  .top-bar__logo {
    height: 24px;
  }
}

.top-bar__phone {
  align-items: center;
  display: flex;
  position: relative;
}

.top-bar__phone-number {
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: bold;
  color: #292929;
  letter-spacing: 2px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  padding: 8px 12px;
  line-height: 16px;
  transition: all .3s cubic-bezier(.4, 0, .2, 1);
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%)translateX(10px);
}

.top-bar__phone-number:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
}

.top-bar__phone:hover .top-bar__phone-number {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50%)translateX(0);
}

@media (width >= 1024px) {
  .top-bar__phone:hover .top-bar__phone-number {
    visibility: visible;
    opacity: 1;
  }
}

.menu {
  box-sizing: border-box;
  background-color: #e5e6e8;
  height: 100vh;
  font-weight: 700;
  overflow: auto;
}

.menu__top {
  z-index: 1;
  background-color: #e5e6e8;
  margin-bottom: 32px;
  position: sticky;
  top: 0;
}

@media (width >= 576px) {
  .menu__top {
    margin-bottom: 0;
  }
}

.menu__nav {
  margin-bottom: 48px;
}

.menu__phone-number {
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: url("cursor.845ec0b9.svg"), auto;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  transition: color .3s;
  display: block;
}

.menu__phone-number:hover {
  color: navy;
}

.menu__call-to-order {
  width: fit-content;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: url("cursor.845ec0b9.svg"), auto;
  border-bottom: 1px solid #292929;
  padding-bottom: 3px;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  transition: color .3s;
  display: block;
}

.menu__call-to-order:hover {
  color: navy;
}

.nav__item {
  opacity: 0;
  transition: all .3s ease-out;
}

.nav__item:first-child {
  transition-delay: .1s;
}

.nav__item:nth-child(2) {
  transition-delay: .2s;
}

.nav__item:nth-child(3) {
  transition-delay: .3s;
}

.nav__item:nth-child(4) {
  transition-delay: .4s;
}

.nav__link {
  color: inherit;
  letter-spacing: 2px;
  cursor: url("cursor.845ec0b9.svg"), auto;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  position: relative;
}

.nav__link:after {
  content: "";
  transform-origin: 0;
  background-color: #292929;
  width: 100%;
  height: 1px;
  transition: transform .3s;
  display: block;
  position: absolute;
  bottom: -8px;
  transform: scale(0);
}

.nav__link:hover:after {
  transform: scale(1);
}

.nav__list {
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.page__menu:target .nav__item {
  opacity: 1;
}

.icon {
  cursor: url("cursor.845ec0b9.svg"), auto;
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
  transition: transform .3s;
  display: block;
}

.icon:hover {
  transform: scale(1.2);
}

@media (width >= 576px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}

.icon--phone {
  background-image: url("icon-phone-2x.cf2954ff.png");
}

.icon--menu {
  background-image: url("icon-burger-menu-2x.155c63a8.png");
}

.icon--menu:hover {
  background-image: url("icon-burger-menu-hover-2x.3ab53d20.png");
}

.icon--close {
  background-image: url("icon-close-2x.4dd8fdad.png");
}

.section-title {
  text-align: center;
  text-align: left;
  letter-spacing: 0;
  margin: 0 0 48px;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.section-title--about {
  margin-bottom: 24px;
}

@media (width >= 576px) {
  .section-title {
    margin-bottom: 56px;
    font-size: 40px;
  }
}

@media (width >= 1024px) {
  .section-title {
    font-size: 48px;
  }
}

.main__content {
  row-gap: 96px;
  padding-block: 96px;
  display: grid;
}

@media (width >= 576px) {
  .main__content {
    row-gap: 120px;
    padding-block: 120px;
  }
}

.product_photo {
  width: 100%;
}

.product_description {
  font-family: Space Mono, sans-serif;
}

.recommended {
  opacity: 0;
  transition: all 1s;
}

.recommended__products {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .recommended__products {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .recommended__products {
    --columns: 12;
  }
}

.recommended__products {
  row-gap: 40px;
}

.recommended__product {
  grid-column: 1 / -1;
  transition: all .3s;
}

@media (width >= 576px) {
  .recommended__product {
    grid-column: 1 / -1;
  }
}

@media (width >= 1024px) {
  .recommended__product {
    grid-column: span 4;
  }
}

.recommended__product:hover {
  z-index: 2;
  transform: scale(1.05);
}

.recommended.show {
  opacity: 1;
}

.about {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .about {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .about {
    --columns: 12;
  }
}

.about {
  margin: 0 0 24px;
}

.about__title {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .about__title {
    grid-column: 1 / 4;
  }
}

@media (width >= 1024px) {
  .about__title {
    grid-column: span 4;
  }
}

.about__decription {
  grid-column: 1 / -1;
  margin: 0;
  font-family: Space Mono, sans-serif;
  line-height: 140%;
}

@media (width >= 576px) {
  .about__decription {
    grid-column: 4 / 7;
  }
}

@media (width >= 1024px) {
  .about__decription {
    grid-column: 7 / 13;
  }
}

.about__decription p {
  margin: 0 0 2rem;
}

.about__decription p:last-child {
  margin-bottom: 0;
}

.categories {
  opacity: 0;
  transition: all .3s ease-out;
}

.categories__wrapper {
  row-gap: 40px;
  display: grid;
}

@media (width >= 576px) {
  .categories__wrapper {
    row-gap: 64px;
  }
}

.category__photos {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .category__photos {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .category__photos {
    --columns: 12;
  }
}

.category__photos {
  margin-bottom: 16px;
}

.category__link {
  cursor: url("cursor.845ec0b9.svg"), auto;
  position: relative;
}

@media (width >= 576px) {
  .category__link--wide {
    grid-column: span 4;
  }
}

@media (width >= 1024px) {
  .category__link--wide {
    grid-column: span 8;
  }
}

.category__link--square {
  height: 0;
  padding-bottom: 100%;
}

@media (width >= 576px) {
  .category__link--square {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .category__link--square {
    grid-column: span 4;
  }
}

.category__photo {
  object-fit: cover;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: all .3s;
  position: absolute;
}

.category__photo:hover {
  z-index: 2;
  transform: scale(1.05);
}

.category__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

.category__button {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  margin-top: 40px;
  display: grid;
}

@media (width >= 576px) {
  .category__button {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .category__button {
    --columns: 12;
  }
}

.categories.show {
  opacity: 1;
}

.contacts__link {
  color: inherit;
  cursor: url("cursor.845ec0b9.svg"), auto;
  text-decoration: none;
}

.contacts__wrapper {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .contacts__wrapper {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .contacts__wrapper {
    --columns: 12;
  }
}

.contacts__wrapper {
  grid-auto-flow: dense;
  row-gap: 16px;
}

.contacts__field {
  grid-column: span 2;
}

@media (width >= 576px) {
  .contacts__field {
    grid-column: span 6;
  }
}

@media (width >= 1024px) {
  .contacts__field {
    grid-column: 1 / 6;
  }
}

.contacts__input {
  box-sizing: border-box;
  background-color: #f8f8fa;
  border: 1px solid #0000;
  border-radius: 8px;
  grid-column: 1 / -1;
  width: 100%;
  padding: 16px 14px;
  font-family: Space Mono, sans-serif;
  font-size: 14px;
  line-height: 140%;
}

.contacts__input::placeholder {
  color: #7e7e83;
}

.contacts__input--name, .contacts__input--email {
  height: 48px;
}

.contacts__input--textarea {
  resize: none;
}

.contacts__input:hover::placeholder {
  color: #292929;
  transition: color .3s;
}

.contacts__input:hover {
  border: 1px solid #d5d7de;
}

.contacts__input:focus {
  border: 1px solid #292929;
  outline: none;
}

.contacts__input {
  cursor: url("cursor.845ec0b9.svg"), auto;
}

.contacts__info {
  grid-column: 1 / -1;
}

.contacts__info--label {
  color: #9393a3;
  font-size: 14px;
  font-weight: 400;
}

.contacts__info--value {
  color: #191919;
  font-family: Space Mono, sans-serif;
  font-size: 16px;
  transition: color .3s;
}

.contacts__info--value:hover {
  color: navy;
}

@media (width >= 576px) {
  .contacts__info {
    grid-column: span 6;
  }
}

@media (width >= 1024px) {
  .contacts__info {
    grid-column: 7 / 13;
  }
}

.button {
  color: #fff;
  cursor: url("cursor.845ec0b9.svg"), auto;
  background-color: #292929;
  border: 2px solid #0000;
  border-radius: 8px;
  width: 100%;
  height: 56px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.button:hover {
  color: #292929;
  background-color: #f8f8fa;
  border: 2px solid #f0f1f4;
  transition: background-color .3s;
}

.button:active {
  color: #fff;
  background-color: #111;
  transition: background-color .3s;
}

.button--categories {
  grid-column: span 2;
}

@media (width >= 576px) {
  .button--categories {
    grid-column: span 6;
  }
}

@media (width >= 1024px) {
  .button--categories {
    grid-column: span 4;
  }
}

.banner {
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  left: 50%;
  right: 50%;
}

.banner__image {
  background-image: url("banner-mobile.81746e67.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
  display: block;
}

@media (width >= 576px) {
  .banner__image {
    background-image: url("banner-tablet.94830660.png");
    height: 400px;
  }
}

@media (width >= 1024px) {
  .banner__image {
    background-image: url("banner-desktop.e468e7de.png");
    height: 460px;
  }
}
/*# sourceMappingURL=layout_landing-page.e378193d.css.map */
