$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$secondary-font:
  Space Mono,
  sans-serif;
$main-text-color: #292929;
$custom-cursor: url('/src/cursor/mouse/cursor.svg'), auto;
$link-hover-color: #000080;
$animation-duration: 0.3s;
